*{
    box-sizing: border-box;
    border: 0%;
    padding: 0%;
    margin: 0%;
    font-family: Inter, "Open Sans", "Noto Sans", "Roboto", "Droid Sans", sans-serif;
    background-color: #1a1a1a;
    color: white;
    transition: 0.3s;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    > header {
        padding: 0px;
        background-color: #64baff;
        margin-bottom: 10px;
        .secondary {
            background-color: #333333;
            flex-wrap: wrap;
            padding: 0.25rem 1rem;
            }
        nav{
            padding: 0 20px;
            display: flex;
            font-size: 0;
            justify-content: space-between;
            overflow-x: auto;
            
            .secondary{
                padding: 5px 20px;
                height: 50px;

                

                #search-container {
                    align-self: center;
                    margin: 0.25em 0;
                }
                #search-input{
                    background-color: #1a1a1a;
                    border: 0px solid rgba(0, 0, 0, 0);
                    border-radius: 0.3em;
                    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
                    color: white;
                    padding: 6px;
                    text-indent: 1rem;
                    transition: all 200ms ease-in-out;
                    width: 300px;
                }
                svg {
                    height: 16px;
                    fill: var(--secondary-fg-color);
                    margin: 0.4rem 0.3rem;
                    position: absolute;
                }
                a{
                    display: inline-block;
                    font-size: 0.85rem;
                    line-height: 2.9em;
                    opacity: 1;
                    padding: 0 0.65rem;
                    text-decoration: none;
                    white-space: nowrap;


                }
            }
        }
        .secondary a{
            color: white;
            font-size: 0.75rem;
        }
        a{
            background-color: #333333;
            padding: 0.5rem 1rem;   
        }
    }
}
.featured{
    border-radius: 0.5rem;
    color: inherit;
    display: block;
    font-size: 0;
    opacity: 1;
    text-decoration: none;
    width: 100%;
    padding: 1rem;
    max-width: 1160px;
    /* etiquetas */
    header{
        display: inline-block;
        font-size: 1.2rem;
        padding-left: 1em;
        vertical-align: middle;
        
    }
    
    /* clases internas*/
    .featured-image {
        background-color: #555761;
        background-origin: border-box;
        background-position: 50%;
        background-size: cover;
        border-radius: 0.25rem;
        border: 1px solid black;
        display: inline-block;
        height: 200px;
        width: 100%;
        margin-bottom: 1rem;
        overflow: hidden;
        position: relative;
        vertical-align: middle;
    }
    header{
        color: #848484;
        h3{
            color: #848484;
            font-weight: 500;
            font-size: 1.2rem;
        }
        .byline{
            transition: 250ms ease;
            font-size: 0.8rem;
            display: inline-flex;
            .avatar img{
                border-radius: 50%;
                border: 1px solid black;
                display: inline-block;
                height: 2rem;
                margin-right: 0.5rem;
                vertical-align: middle;
                width: 2rem;
            }
            .info {
                .author{
                    font-weight: bolder;
                }
            }
        }
    }
    /* convierte .featured en contenedor para que las consultas respondan al ancho del contenedor */
    container-type: inline-size;
    @container (min-width: 600px) {
        display: inline-flex;
        header{
            width: 50%;
        }
        .featured-image{
            width: 50%;
            margin-bottom: 0;
        }
    }
    @container (min-width: 800px) {
        header{
            width: 33.33%;
        }
        .featured-image{
            height: 320px;
            width: calc(66.66% - 0.66rem);
        }
    }
}
.featured:hover{
    background-color: #333333;
    *{
        background-color: #333333;
    }
}

.spacer{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    >*{
        @media (min-width: 800px) {
        flex: 1 1 0%;        
        }
    }
}
nav.pagination{
    font-size: 1rem;
    margin: 2rem auto;
    width: 100%;
    text-align: center;
    a.next{
        color: #64baff;
        text-decoration: underline;
        padding: 0.5rem 1rem;
    }
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;

    /* make direct children max-width-aware so they don't stretch too wide */
    > * {
        width: 100%;
        max-width: 100%;
    }
}

section.medium{
    width: 800px;
    text-align: justify;
    h2{
        font-size: 2rem;
        margin: 1rem 0;
    }
    p{
        font-size: 1.2rem;
        font-family: 'Courier New', Courier, monospace;
        > a{
    
            color: #64baff;
            text-decoration: underline;
        
        }
    }
}


body > section{
    max-width: 1160px;
    margin: auto;
    padding: 1rem;
}

hr{
    border: none !important;
    height: 8px;
    background-image: radial-gradient(circle, #555 50%, rgba(0,0,0,0) 51%);
    background-size: 10px 8px;
    background-repeat: repeat;
    background-position: center;
    border: 1px solid #555;
    margin: 3em auto;
    max-width: 50%;
}
footer{
    height: fit-content;
    background-color: #333333;
    display: flex;
    padding: 1rem;
    >*{
        background-color: #333333;
    }
    >p{
        margin-right: auto;
        font-size: 0.75rem;
        justify-content: left;  
    }
    >ul{
        justify-content: right;
    }
    li{
        font-size: 0.75rem;
        display: inline-block;
        padding: 0px 15px;
        list-style: none;
        vertical-align: middle;
        background-color: #333333;
        >a{
            color: white;
            background-color: #333333;
        }
    }
}