*{
    box-sizing: border-box;
    border: 0%;
    padding: 0%;
    margin: 0%;
    font-family: Inter, "Open Sans", "Noto Sans", "Roboto", "Droid Sans", sans-serif;
    background-color: #1a1a1a;
    color: #d4d4d4;
    transition: 0.3s;
}

.contenido-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 10px;
    gap: 10px;
}

/** Lineas que son MENU cuando se hace pequeña la pantalla **/
.menuline {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menuline svg {
    fill: white;
    transition: fill 0.3s;
}

.menuline:hover svg {
    fill: white;
}

/** Encabezado1 **/

.encabezado {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}

.encabezado li:first-child svg {
    transition: opacity 0.2s;
}

.encabezado li:first-child:hover svg path {
    fill: white;
}




.encabezado a {
    text-decoration: none;
    color: rgb(22, 22, 22);
    font-weight: 350;
    font-size:16px;
    transition: color 0.3s;
    font-size: 16px;
}

.encabezado a:hover {
    color:white;
}

/** Redes sociales **/

.encabezado-redes {
    display: flex;
    gap: 0.8rem;
    list-style: none;
    align-items: center;
    margin-left: auto;
}

.encabezado-redes a {
    width: 36px;
    height: 36px;
    background-color: #f0f0f0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: all 0.3s;
}

.encabezado-redes a:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
}


.encabezado-redes li {
    position: relative;
}

.encabezado-redes li::after {
    content: attr(data-name);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 3px 3px;
    border: 1px solid white;
    border-radius: 1px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    z-index: 10000;
}

.encabezado-redes li:hover::after {
    opacity: 1;
}

.youtube:hover svg path {
    fill: #FF0000;
}

.mastodon:hover svg path {
    fill: #55abf1;
}

.discord:hover svg path {
    fill: #7f88e7;
}



a{
    color: inherit;
    text-decoration: none;
}
body{
    .contenido-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 10px;
    gap: 10px;
    }

    /** Lineas que son MENU cuando se hace pequeña la pantalla **/
    .menuline {
        display: flex;
        align-items: center;
        cursor: pointer;
        svg {
            fill: white;
            transition: fill 0.3s;
        }
        :hover svg {
            fill: #333;
        }
    }
    
    .encabezado {
        display: flex;
        gap: 20px;
        list-style: none;
        align-items: right;
        li{
            width: fit-content;
        }
        li:first-child svg {
            
            transition: opacity 0.2s;
                path {
                    fill: #888888;
                }
        }
        a {
            background-color: inherit;
            color: white;
            font-weight: 350;
            font-size:16px;
            transition: color 0.3s;
            font-size: 16px;
        }
    
        a:hover {
            color:#888888;
        }
    
    }




    /** Redes sociales **/

    .encabezado-redes{

        display: flex;
        gap: 0.8rem;
        list-style: none;
        align-items: right;
        width: fit-content;
        a {
            width: 36px;
            height: 36px;
            background-color: #f0f0f0;
            border-radius: 8px;
            display: flex;
            align-items: right;
            justify-content: center;
            text-decoration: none;
            color: white;
            font-size: 1.2rem;
            transition: all 0.3s;
            :hover {
                background-color: #e0e0e0;
                transform: translateY(-2px);
            }
        }
        li{
            display: inline-block;
            position: relative;
            .youtube{
                svg path{
                    fill: white;
                }
                :hover svg path{
                    fill: #FF0000;

                }
            }
            .mastodon{
                svg path {
                    fill: white;
                }
                :hover svg path {
                    fill: #55abf1;
                }
            }

            .discord {
                svg path {
                    fill: white;
                }
                :hover svg path {
                    fill: #7f88e7;
                }
            }
    }
    
    
        li::after {
            content: attr(data-name);
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
            background-color: white;
            color: white;
            padding: 3px 3px;
            border: 1px solid #333;
            border-radius: 1px;
            font-size: 12px;
            white-space: nowrap;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.2s;
            z-index: 10000;
        }

        li:hover::after {
            opacity: 1;
        }
    }




    


 
    > header {
        padding: 0px;
        background-color: #64baff;
        margin-bottom: 10px;
        .secondary {
            background-color: #333333;
            flex-wrap: wrap;
            padding: 0.25rem 1rem;
            }
        nav{
            padding: 0 20px;
            display: flex;
            font-size: 0;
            justify-content: space-between;
            overflow-x: auto;
            
            .secondary{
                padding: 5px 20px;
                height: 50px;

                

                #search-container {
                    align-self: center;
                    margin: 0.25em 0;
                }
                #search-input{
                    background-color: #1a1a1a;
                    border: 0px solid rgba(0, 0, 0, 0);
                    border-radius: 0.3em;
                    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
                    color: white;
                    padding: 6px;
                    text-indent: 1rem;
                    transition: all 200ms ease-in-out;
                    width: 300px;
                }
                svg {
                    height: 16px;
                    fill: var(--secondary-fg-color);
                    margin: 0.4rem 0.3rem;
                    position: absolute;
                }
                a{
                    display: inline-block;
                    font-size: 0.85rem;
                    line-height: 2.9em;
                    opacity: 1;
                    padding: 0 0.65rem;
                    text-decoration: none;
                    white-space: nowrap;


                }
            }
        }
        .secondary a{
            color: white;
            font-size: 0.75rem;
        }
        a{
            background-color: #333333;
            padding: 0.5rem 1rem;   
        }
    }
}
h1{
    font-weight: 700;
    line-height: 1.125;
    margin-bottom: 0;
}
p {
  line-height: 1.5;
  margin: 1.25em auto;
  max-width: 50rem;
}
ul{
    grid-template-columns: repeat(3,1fr);
    > li{
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        a{
            border-radius: .25em;
            color: inherit;
            display: block;
            opacity: 1;
            padding: .5em;
            text-decoration: none;
            transition: #1a1a1a .15s ease;
        }
    }
}
main.container{
    align-items: center;
    margin: 0 auto;
    
    width: 100%;
    max-width: 1008px;
    #devices{
        ul{
            align-content: stretch;
            align-items: stretch;
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(1,1fr);
            justify-content: stretch;
            margin: 3rem auto 2rem;
            padding: 0;
        }
    }
    .products{
        display: grid;
        width: 100%;
        margin: 4rem auto;
        >ul{
            

            >li{

                border-radius: 25px;
                a{
                    border-radius: 25px;
                    color: inherit;
                    display: block;
                    opacity: 1;
                    padding: .5em;
                    text-decoration: none;
                    transition: #1a1a1a .15s ease;
                    img{
                        width: 100%;
                    }
                }
                :hover *{
                    background-color: #333333;
                }
            }
        }
    }


}

@media (width >= 970px) {
  main.container{
    #devices {
        >ul{
            grid-template-columns: repeat(3,1fr);
            align-content: stretch;
            align-items: stretch;
            display: grid;
            grid-gap: 1rem;
            justify-content: stretch;
            margin: 3rem auto 2rem;
            padding: 0;
            
        }
    }
    .products{
        >ul{
            grid-template-columns: repeat(3,1fr);
            align-content: stretch;
            align-items: stretch;
            display: grid;
            grid-gap: 1rem;
            justify-content: stretch;
            margin: 3rem auto 2rem;
            padding: 0;
        }
    }

  }
}
@media (width >= 600px) {
  .products > ul {
    grid-template-columns: repeat(2,1fr);
    align-content: stretch;
    align-items: stretch;
    display: grid;
    grid-gap: 1rem;
    justify-content: stretch;
    margin: 3rem auto 2rem;
    padding: 0;
    
  }
}